body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}

header {
    background: #ebebeb;
    width: auto;
    height: 50px;
    margin: 10px auto;
    line-height: 50px;
}

nav {
    background: #ebebeb;
    width: auto;
    height: 50px;
    margin: 10px auto;
    line-height: 50px;
}

section {
    background: #ebebeb;
    height: 200px;
    width: 495px;
    float: left;
    line-height: 50px;
}

aside {
    background: #ebebeb;
    float: left;
    width: 445px;
    height: 200px;
    margin-left: 20px;
    line-height: 50px;
}

article {
    color: #ebebeb;
    background: #777;
    height: 120px;
    line-height: 30px;
    width: 475px;
    margin: 10px;
}

h1 {
    color: #777;
    background: #ebebeb;
    margin: 10px;
    width: 455;
    height: 30px;
}

p {
    color: #777;
    background: #ebebeb;
    margin: 10px;
    width: 455;
    height: 30px;
}

footer {
    background: #ebebeb;
    width: auto;
    height: 50px;
    margin: 10px auto;
    line-height: 50px;
    clear: both;
}

.container {
    width: auto;
    height: 200px;
    margin: 10px auto;
}